<footer class="footer position-absolute bottom-2 py-2 w-100">
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto text-center mt-1">
                <p class="mb-0 text-secondary">
                    Copyright © <script>
                        document.write(new Date().getFullYear())
                    </script> Mohamed Rami Aouinti
                </p>
            </div>
        </div>
    </div>
</footer>
